.navbar {
    background-color: rgb(126, 208, 126);
    color: black;
}

.top-bar{
    position: sticky;
    width: 100%;
    top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-bar ul{
    background-color: inherit;
}

.button{
    background-color: yellow;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}


.input-group{
    margin-bottom: 0rem;
}

a {
    color: black;
    font-size:20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

a:hover {
    color: black;
    background-color: #73bf73;
}

.logo-link:hover{
    color: inherit;
    background-color:inherit;
}
.dropdown.menu .is-active > a {
    color: black;
    background-color: #73bf73;
}

p {
    font-family: 'Lato', sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1 {
    font-family: 'Lato', sans-serif;
}

.left-link{
    border-left: 2px #53b54b;
    border-left-style: groove;
}


.dropdown.menu a.logo-link{
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 1rem;
    padding-top: 0px;
}

.logo{
    height: 42.38px;
    width: 42.38px;
}


.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: black transparent transparent;
    right: 5px;
    left: auto;
    margin-top: -3px;
}

body{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../img/pattern.jpg");
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}

h3{
    font-family: 'Lato', sans-serif;
    margin-left: 20px;
}

.wrapper{
    padding-top: 6rem;
    padding-bottom: 6rem;    
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
    width: 80%;
    margin: auto;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#copyright-bar{
    position: sticky;
    bottom: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19) inset;
}

.dropdown.menu > li.opens-right > .is-dropdown-submenu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0 black solid;
}