.top-bar-left .top-bar-right{
    display: none; !important
}

.menu a {
    display: none; !important
}

.input-group{
    display: none; !important
}

div#the-navbar.top-bar.navbar {
    display: none; !important
}

.wrapper {
    text-align: center;
}

input[type="text"]{
    width: 30%;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 30px;
}

input[type="password"]{
    width: 30%;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 30px;
}

#verify{
    margin-bottom: 2rem;
}

#signup{
    background-color: crimson;
}

#login{
    background-color: rgb(126, 208, 126);
}

h1{
    margin-bottom: 50px;
}

#alignthisright{
    text-align: right;
}

#alignthisleft{
    text-align: left;
}
