.wrapper {
    text-align: center;
}

#newtext{
    width: 30%;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 30px;
}



h1{
    margin-bottom: 50px;
}


body{
    overflow: visible;
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-shrink: 0;
}

#special{
    border-radius: 30px;
}
