$white: #fefefe;

.thumbnail{
    max-width: 60%;
    max-height: 60%;
    margin-left: 5%;
}

.scores{
    width: 80%;
    text-align: center;
    background-color: lightsteelblue;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    padding-top: 10%;

}


/* Demo Styles */

.docs-example-orbit-slide {
    padding: 2rem 4rem;
    color: $white;
    text-align: center
}

#one{
    background-color: #f95959;
}

#two{
    background-color: cyan;
}

#three{
    background-color: #5eed74;
}

h3{
    margin: 0;
}

h2{
    margin-bottom: 10%;
}

.wrapper{
    padding-top: 3rem;
}

hr{
    margin-bottom: 2rem;
    margin-top: 0;
}

h1{
    margin-left: 10px;
}

.orbit{
    z-index: 1;
}

.pfpupdate{
    background-color: lightsteelblue;
    width: 40%;
    margin: auto;
    text-align: center;
    padding-top: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

input[type="file"]{
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.teams{
    background-color: lightsteelblue;
    width: 95%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.5rem;
}

#alignthisright{
    text-align: right;
    padding-left: 5%;
}

#alignthisleft{
    text-align: left;
}




