#gamebox{
    width: 90%;
    height: 35rem;
    margin: auto;
    border: 0px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    margin-bottom: 0px;
}