.blue {
	background-color: blue;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}

.disabled {
	background-color: gray;
}

.end {
	background-color: black;
}
