.letter {
    text-align: center;
    width: 10%;
    height: 10%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.unselected {
	background-color: BlanchedAlmond;
}

td.selected {
	background-color: #A6C36F;
}

.found {
	background-color: Gold;
}

#wordTable {
	border: 1px solid black;
}

#wordBankContainer {
	display: block;
}

#wordBank {
	display: inline-block;
}

#gameContainer{
    margin:auto;
    width: 90%;
}

