.letter {
	text-align: center;
}

.unselected {
	background-color: BlanchedAlmond;
}

td.selected {
	text-align: center;
	background-color: #A6C36F;
}

.found {
	text-align: center;
	background-color: gold;
}

#wordTable {
	border: 1px solid black;
}

