{% extends 'default.html' %}

{% block c_title %}
About
{% endblock %}

{% block include %}
<link rel="stylesheet" type="text/css" href="../static/css/about.css">
{% endblock %}

{% block c_content %}
<h1>About Us</h1>
<hr>
<p>Welcome to Brain Battles! Our app aims to give its users a space to have fun while engaging in brain-stimulating exercises. Users may play a reaction time game, a word search, or Simon, a game that tests the player's memory. Users can connect with friends through our Team function, which allows groups of users to compare high scores and compete to be the top player in each game either across their team or <i>worldwide</i>.</p>

<h3>Meet the Team!</h3>
<table>
  <tr>
    <td>
      <h4>Michela Marchini</h4>
      <img src="../static/img/michela.jpg" width="250px" height="250px">
      <br>
      <h6>Project Manager</h6>
      <p class="blurb quote"><i>""Bop, bop, bop, bop to the top""</i></p>
      <p class="blurb"> Michela Marchini is a senior at Stuyvesant High School and honored to have been project manager for this incredible final project. She enjoys food, netflix, and computer science. In her free time, Michela can be found stressing over merge erros and updating the devlog with work she did 3 days ago.</p>

    </td>
    <td>
      <h4>Stanley Lin</h4>
      <img src="../static/img/stanley.jpg" width="250px" height="250px">
      <br>
      <h6>Javascript Mastermind</h6>
      <p class="blurb quote"><i>"QUOTE HERE"</i></p>
      <p class="blurb"><i>"With great power comes great responsibility"</i> is a quote that Mansour strives to apply to many aspects of his life. Being a frontend developer is <b>not</b> one of those times. Fun Fact: The amount of hair on Mansour's face is inversely proportional to the sleep he gets.</p>

    </td>
  </tr>
  <tr>
    <td id="khinshan">
      <h4>Khinshan Khan</h4>
      <img src="../static/img/khinshan.png" width="250px" height="250px">
      <br>
      <h6>Backend Serversider</h6>
      <p class="blurb quote"><i>"Enjoy taking innovative approaches at problems, because in those small detours, you may find something worthwhile."</i></p>
      <p class="blurb">Khinshan "Shan" Khan is a student at Stuyvesant High School. Even though he sturggled to juggle between systems and softdev (because he's no clown!), he found it to be enlightening and enjoyed every second of it. When he's not coding, he likes to play video games, watch tv shows/ anime, read, and explore his city/ urbex (legally!).</p>

    </td>
    <td>
      <h4>Mansour Elsharawy</h4>
      <img src="../static/img/mansour.jpg" width="250px" height="250px">
      <br>
      <h6>Frontend Peasant</h6>
      <p class="blurb quote"><i>"CSS IS TOO A REAL LANGUAGE!!!"</i> <br >- In response to colleague Adeebur Rahman</p>
      <p class="blurb"><i>"With great power comes great responsibility"</i> is a quote that Mansour strives to apply to many aspects of his life. Being a frontend developer is <b>not</b> one of those times. But deep down, he knows with enough aggressive CSS and facial hair, he can take over the world.<br><br> Fun Fact: The amount of hair on Mansour's face is inversely proportional to the sleep he gets.</p>
    </td>    
  </tr>
</table>
{% endblock %}

{% block scripts %}    
{% endblock  %}
