<!doctype html>
<!-- Getting Started: https://foundation.zurb.com/sites/docs/index.html -->
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>
      {% block c_title %}
      Placeholder Title
      {% endblock %}
    </title>

    <!-- Proper Calls for Flask + Foundation -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/foundation.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/app.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="icon" href="../static/img/transparent _logo.png">
    <!-- disable browser caching -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    
    <!-- javascript/css if necessary -->
    {% block include %}
    {% endblock %}
  </head>
  
  <body>
    
    <!-- NavBar -->
    <div class="title-bar" data-responsive-toggle="the-navbar" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title">Menu</div>
    </div>
    
    <div class="top-bar navbar" id="the-navbar">
      <div class="top-bar-left">
	<ul class="dropdown menu" data-dropdown-menu>
	  <li><a class="logo-link" href="/"><img class="logo" src="../static/img/transparent _logo.png"></a></li>
	  <li class="navbar"><a class="left-link" href="/">About</a></li>
	  <li class="navbar"><a class="left-link" href="/profile?user={{me}}">Profile</a></li>
	  <li class="has-submenu navbar">
            <a class="left-link" href="#">Games</a>
            <ul class="submenu menu vertical navbar" data-submenu>
              <li><a class="item-link" id="first" href="/simon">Simon</a></li>
              <li><a class="item-link" href="/react">React</a></li>
	      <li><a class="item-link" id="last" href="/wordsearch">Word Search</a></li>
            </ul>
          </li>

        </ul>
      </div>
      
      <div class="top-bar-right navbar">
          <ul class="menu navbar" data-dropdown-menu>
	    <form class="menu-text navbar" method="POST" action="/search">
	      <div class="row">
		<div class="input-group">
		  <input class="input-group-field" type="text" placeholder="Search for other players!" name="searchtext">
		  <div class="input-group-button">
		    <button type="submit" class="button">Search</button>
		  </div>
		</div>
	      </div>
	    </form>
	    <li class="menu-text navbar">
	      <a href="/logout" id="logout">Logout</a>
	    </li>
	  </ul>
      </div>
    </div>
    
    <div class="wrapper">
  {% block c_content %}
  {% endblock %}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- Footer -->
    <div class="container" id="copyright-bar" style="background-color:#F1F1F1">
      <center>
	This Name is Copyrighted &copy;
	<span id="copyright">
	  <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
	</span>
      </center>
    </div>
    <!-- Foundation Scripts! -->
    <script src="{{ url_for('static',filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/vendor/what-input.js') }}"></script>
    <script src="{{ url_for('static',filename='js/vendor/foundation.js') }}"></script>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
