<!doctype html>
<!-- Getting Started: https://foundation.zurb.com/sites/docs/index.html -->
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>
      {% block c_title %}
      Placeholder Title
      {% endblock %}
    </title>

    <!-- Proper Calls for Flask + Foundation -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/foundation.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/app.css') }}">

    <!-- disable browser caching -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    
    <!-- javascript/css if necessary -->
    {% block include %}
    {% endblock %}
  </head>
  
  <body>
    
    <!-- NavBar -->
    <div class="top-bar">
      <div class="top-bar-left">
	<ul class="dropdown menu" data-dropdown-menu>
	  <li><a href="/">[INSERT SITE LOGO]</a></li>
	  <li><a href="/">About</a></li>
	  <li class="has-submenu">
            <a href="#">Games</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="/simon">Simon</a></li>
              <li><a href="/react">React</a></li>
	      <li><a href="/wordsearch">Word Search</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
	  <form class="menu-text" method="POST" action="/search">
	    <div class="input-group">
              <li><input class="input-group-field" type="text" placeholder="Search" name="searchtext"></li>
	    <li></li>
            <li>
	      <div class="input-group-button">
		<button type="submit" class="button">Search</button>
	      </div>
	    </div>
	    </li>
	    <li></li>
	  </form>
	  <li class="menu-text"><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>

    {% block c_content %}
    {% endblock %}
    
    <!-- Footer -->
    <div class="container" style="background-color:#F1F1F1">
      <center>
	This Name is Copyrighted &copy;
	<span id="copyright">
	  <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
	</span>
      </center>
    </div>
    <!-- Foundation Scripts! -->
    <script src="{{ url_for('static',filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/vendor/what-input.js') }}"></script>
    <script src="{{ url_for('static',filename='js/vendor/foundation.js') }}"></script>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
