{% extends 'default.html' %}

{% block c_title %}
Homepage
{% endblock %}

{% block include %}
<link rel="stylesheet" type="text/css" href="../static/css/dummy.css">
{% endblock %}


{% block c_content %}
<h1>Weclome to BrainBattles!</h1>
<p><i>Get started by going to games in the navigation bar!</i></p>
<div class="leaderboards">
  <h3>Global Leaderboards</h3>
  <table>
    <tr>
      <th colspan="3"> <h5>Simon</h5> </th>
    </tr>
      <td>
	1
      </td>
      <td>
	{{scores["simon"]["0"][0]}}
      </td>
      <td>
	{{scores["simon"]["0"][1]}} rounds
      </td>
    </tr>
    <tr>
      <td>
	2
      </td>
      <td>
	{{scores["simon"]["1"][0]}}
      </td>
      <td>
	{{scores["simon"]["1"][1]}} rounds
      </td>
    </tr>
    <tr>
      <td>
	3
      </td>
      <td>
	{{scores["simon"]["2"][0]}} 
      </td>
      <td>
	{{scores["simon"]["2"][1]}} rounds
      </td>
    </tr>
  </table>


  <table>
    <tr>
      <th colspan="3"> <h5>React</h5> </th>
    </tr>
    <tr>
      <td>
	1
      </td>
      <td>
	{{scores["react"]["0"][0]}} 
      </td>
      <td>
	{{scores["react"]["0"][1]}} ms
      </td>
    </tr>
    <tr>
      <td>
	2
      </td>
      <td>
	{{scores["react"]["1"][0]}} 
      </td>
      <td>
	{{scores["react"]["1"][1]}} ms
      </td>
    </tr>
    <tr>
      <td>
	3
      </td>
      <td>
	{{scores["react"]["2"][0]}} 
      </td>
      <td>
	{{scores["react"]["2"][1]}} ms
      </td>
    </tr>
  </table>


  <table>
    <tr>
      <th colspan="3"> <h5>Word Search</h5> </th>
    </tr>
    <tr>
      <td>
	1
      </td>
      <td>
	{{scores["search"]["0"][0]}} 
      </td>
      <td>
	{{scores["search"]["0"][1]}} sec/word
      </td>
    </tr>
    <tr>
      <td>
	2
      </td>
      <td>
	{{scores["search"]["1"][0]}} 
      </td>
      <td>
	{{scores["search"]["1"][1]}} sec/word
      </td>
    </tr>
    <tr>
      <td>
	3
      </td>
      <td>
	{{scores["search"]["2"][0]}} 
      </td>
      <td>
	{{scores["search"]["2"][1]}} sec/word
      </td>
    </tr>
  </table>
</div>
{% endblock %}


