{% extends 'default.html' %}

{% block c_title %}
Log In
{% endblock %}

{% block include %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/login_custom.css') }}">
{% endblock %}


{% block c_content %}
<!-- Messages -->
{% set messages = get_flashed_messages() %}
{% for message in messages %}
<h4 style="color:crimson;">{{ message }}</h4>
{% endfor %}

<!-- Actual Info -->
<h1>Please Log In</h1>
<div class="container">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-12 cell">
	<form method="POST" action="/home">
	  <label><b>Username</b></label>
	  <input type="text" placeholder="Enter Username" name="uname" required>
      </div>
      <div class="medium-12 cell">
	<label><b>Password</b></label>
	<input type="password" placeholder="Enter Password" name="upass" required>
      </div>
      <div class="medium-6 cell" id="alignthisright">
	<button class="button" type="submit" id="login">Login</button>
      </form>
      </div>
      <!-- If user cant login straight away -->
      
      <!-- Later addition -->
      <!-- <button type="button" class="lbutton">Forgot Password</button> -->
      <div class="medium-6 cell" id="alignthisleft">
	<form method="POST" action="/create">
	  <button class="button" type="submit">Sign Up</button>
	</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="../static/js/react.js"></script>    
{% endblock  %}
