{% extends 'default.html' %}

{% block c_title %}
{{user}} Profile
{% endblock %}

{% block c_content %}

{% set messages = get_flashed_messages() %}
{% for i in messages %}
{{i}}
{% endfor %}
<div style="width:800px; margin:0 auto;">
  <div class="media-object-section">
    <img style="width:100px !important;" src={{pic}} " alt="You Shouldn't Be Downloading This... It's Copyrighted">
  </div>
  <pre>
  <!-- TEMP -->
                                               Simon:           {{simon}}

                                               Word Search:     {{search}}
  
                                               React:           {{react}}
  Teams: 
  {% for team in teams %}
  {{team}} 
  {% endfor %}
  </pre>
  <br>

  {% if iu %}
  <!-- https://www.tutorialspoint.com/flask/flask_file_uploading.htm -->
  <form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" required>
    <input type="submit" value="Upload Image">
  </form> 
  {% endif %}
</div>
<br><br><br>
{% endblock %}
