{% extends 'default.html' %}

{% block c_title %}
{{user}} Profile
{% endblock %}

{% block include %}
<link rel="stylesheet" type="text/css" href="../static/css/profile.css">
{% endblock %}

{% block c_content %}

{% set messages = get_flashed_messages() %}
{% for i in messages %}
{{i}}
{% endfor %}
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="medium-6 cell">
      <div class="media-object-section">
	<img class="thumbnail" src={{pic}}  alt="You Shouldn't Be Downloading This... It's Copyrighted">
      </div>
    </div>
    <div class="medium-6 cell">
      <div class="scores">
	<h3>Simon:           {{simon}}</h3>
	<h3>Word Search:     {{search}}</h3>
	<h3>React:           {{react}}</h3>
      </div>
    </div>
  </div>
</div>
  Teams: 
  {% for team in teams %}
  {{team}} 
  {% endfor %}
  <br>

  {% if iu %}
  <form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" required>
    <input class="button" type="submit" value="Upload Image">
  </form> 
  {% endif %}
</div>
<br><br><br>
{% endblock %}
