{% extends 'default.html' %}

{% block c_title %}
Simon
{% endblock %}

{% block include %}
<link rel="stylesheet" href="../static/css/simon.css">
<script	src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
<script src="../static/js/simon.js"></script>
{% endblock %}

{% block c_content %}
<div class="grid-container">
<div id="game_window" class="grid-x grid-margin-x">

	<div class="button display cell small-3 disabled" id="display_blue_button"></div>
	<div class="button display cell small-3 disabled" id="display_red_button"></div>
	<div class="button display cell small-3 disabled" id="display_green_button"></div>
	<div class="button display cell small-3 disabled" id="display_yellow_button"></div>
	
	<br>
	
	<div class="button user cell small-3 disabled" id="0"></div>
	<div class="button user cell small-3 disabled" id="1"></div>
	<div class="button user cell small-3 disabled" id="2"></div>
	<div class="button user cell small-3 disabled" id="3"></div>
</div>
</div>
{% endblock %}
